<!DOCTYPE html>
<html lang="en" style="height: 100%;" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="60" />
    <title>equipment management system</title>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>
    <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/layui/css/layui.css}">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>

</head>
<body>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <h1>Welcome to the device management system</h1>
</fieldset>

</body>
</html>
